.react-resizable {
  &-handle {
    position: absolute;

    &-n, &-s {
      width: calc(100% - 20px);
      height: 10px;
      left: 10px;
    }

    &-e, &-w {
      width: 10px;
      height: calc(100% - 20px);
      top: 10px;
    }

    &-n {
      cursor: n-resize;
      top: 0;
    }

    &-s {
      cursor: s-resize;
      bottom: 0;
    }

    &-w {
      cursor: w-resize;
      left: 0;
    }

    &-e {
      cursor: e-resize;
      right: 0;
    }
  }
}

.animate-appear {
  animation: 0.2s appear;

  @keyframes appear {
    from {
      transform: scale(0) translateY(150vh);
    }

    to {
      transform: scale(1) translateY(0);
    }
  }
}