@use 'variables';

.console-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  * {
    font-weight: 400
  }

  a {
    color: variables.$third-color;
    text-decoration: underline;
  }
}

.typing-text::after {
  content: '|';
  vertical-align: text-bottom;
  font-family: Calibri, system-ui;

}

.text {
  &-primary {
    color: variables.$primary-color;
  }

  &-tilde {
   color: #90C5FF;
  }
}