$filter-bebebe: brightness(0) saturate(100%) invert(74%) sepia(20%) saturate(0%) hue-rotate(159deg) brightness(100%) contrast(88%);
$filter-c77777: brightness(0) saturate(100%) invert(54%) sepia(10%) saturate(1575%) hue-rotate(311deg) brightness(96%) contrast(101%);
$filter-c74848: brightness(0) saturate(100%) invert(31%) sepia(98%) saturate(871%) hue-rotate(325deg) brightness(92%) contrast(85%);
$filter-e4e3e3: brightness(0) saturate(100%) invert(88%) sepia(9%) saturate(14%) hue-rotate(314deg) brightness(101%) contrast(97%);
$header-bg: linear-gradient(180deg, rgb(75 81 75 / 100%) 0%, rgb(72 71 67 / 100%) 46%, rgb(62 61 57 / 100%) 100%);

.console-component {
  width: 90%;
  height: 95%;
  background-color: rgb(35 35 35 / 70%);
  border-radius: 0.5rem;
  overflow: hidden;
}

.console-header {
  height: 5rem;
  display: grid;
  overflow: hidden;
  grid: ". name buttons" 60%
  "links links links" 40% /
  minmax(5rem, 1fr) 6fr minmax(5rem, 1fr);
  background: rgb(75 81 75);
  background: $header-bg;
}

.console-header-name {
  grid-area: name;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.console-header-buttons {
  grid-area: buttons;
  display: flex;
  justify-content: end;
}

.console-header-buttons>button {
  margin: 0.5rem 0.25rem;
}

.console-header-buttons>button:last-child {
  margin-right: 0.5rem;
}

.hamburger-wrapper {
  grid-area: hamburger;
  display: flex;
  align-items: center;
}

.console-header-links {
  grid-area: links;
  display: flex;
  align-items: end;
}

.console-header a {
  font-weight: normal;
}

.header-button {
  height: 50%;
  width: fit-content;
  border-radius: 9999px;
  overflow: hidden;
  position: relative;
}

.filter-BEBEBE {
  filter: $filter-bebebe;
}

.filter-C77777 {
  filter: $filter-c77777;
}

.header-button:focus img.filter-BEBEBE,
.header-button:hover img.filter-BEBEBE {
  filter: $filter-e4e3e3;
  outline: none;
}

.header-button:focus img.filter-C77777,
.header-button:hover img.filter-C77777 {
  filter: $filter-c74848;
  outline: none;
}

.console-header-buttons .header-button:active::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: inset 0 0 3px 1px rgb(0 0 0 / 100%);
}

.modal-menu-header {
  background: $header-bg;
}

@media (width < 768px) {
  .console-header {
    padding: 0.5rem;
    height: 3.5rem;
    grid: "hamburger name buttons" 100%
    / minmax(5rem, 1.5fr) 3fr minmax(5rem, 1.5fr);
  }

  .console-header > div {
    align-items: start;
  }

  .header-button {
    height: 60%;
  }

  .hamburger-wrapper > .header-button {
    height: 100%;
  }

  .console-header-links {
    position: absolute;
    top: 4.5rem;
    left: 0.5rem;
    background-color: rgb(35 35 35 / 70%);
    border-radius: 0.5rem;
    overflow: hidden;
    flex-direction: column;
  }

  .console-header-links .header-button {
    width: 1.5rem;
    height: auto;
  }

  .console-header-buttons>button {
    margin: 0.25rem;
  }

  .console-header-buttons>button:last-child {
    margin-right: 0.25rem;
  }

  .console-header-links li a {
    padding: 0.5rem 4.5rem 0.5rem 1rem;
  }
}