$filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(283deg) brightness(108%) contrast(101%);
$filter-ffb5b5: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(2030%) hue-rotate(312deg) brightness(110%) contrast(103%);
$filter-ff5757: brightness(0) saturate(100%) invert(76%) sepia(84%) saturate(4755%) hue-rotate(321deg) brightness(93%) contrast(124%);

.search-bar {
  background-color: #B9B9B9;
  background-image: url("/icons/magnifier.svg");
  background-repeat: no-repeat;
  padding: 0.05rem 0.5rem 0.05rem 2.3rem;
  background-size: 1.3rem;
  background-position: 0.4rem center;
  color: black;
}

.search-bar:hover {
  background-color: #CDCDCD;
}

.search-bar:focus,
.search-bar:active {
  background-color: white;
  outline: none;
}

.search-bar::placeholder {
  color: #434343;
  opacity: 1;
}

.turn-off-button {
  min-width: 24px;
}

.turn-off-button img {
  filter: $filter-white;
}

.turn-off-button:hover {
  cursor: pointer;
}

.turn-off-button:hover img {
  filter: $filter-ffb5b5;
}

.turn-off-button:active {
  cursor: pointer;
}

.turn-off-button:active img {
  filter: $filter-ff5757;
}

.turn-off-button:focus-visible {
  border-radius: 9999px;
  outline: 0.15rem white dashed;
}

.turn-off-button:focus-visible img {
  filter: $filter-ffb5b5;
}

.task-bar {
  overflow: hidden;
  backdrop-filter: blur(3px);
}